body { 
    font-family: sans-serif; 
    display: flex; 
    justify-content: center; 
    padding-top: 50px; 
    background-color: #f4f4f4; 
}

.login-box { 
    border: 1px solid #ccc; 
    padding: 30px; 
    width: 350px; 
    box-shadow: 0 0 10px #aaa; 
    background-color: white; 
    text-align: center; 
}

.logo { 
    width: 100px; 
    margin-bottom: 15px; 
} 

label { 
    display: block; 
    margin-top: 15px; 
    margin-bottom: 5px;
    color: #555;
    text-align: center; 
}

input { 
    width: 80%; 
    padding: 10px; 
    display: block; 
    margin: 0 auto; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

button { 
    width: 80%; 
    padding: 10px; 
    margin-top: 20px; 
    margin-bottom: 10px;
    background-color: #007bff; 
    color: white; 
    border: none; 
    cursor: pointer; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 4px;
    font-size: 16px;
}

button:hover { background-color: #0056b3; }

.helptext, .errorlist {
    font-size: 12px;
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #eee; /* Adds a subtle line above footer */
    font-size: 12px;
    color: #888;
}